{{ define "main" }}
<main class="main">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="project-list">
            {{ range .Pages }}
            <article class="project-item">
                <a href="{{ .RelPermalink }}">
                    {{ with .Resources.GetMatch (index .Params.images 0) }}
                    <img src="{{ .RelPermalink }}" alt="{{ $.Title }} Thumbnail" style="max-width:300px;" />
                    {{ end }}
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary }}</p>
                </a>
            </article>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
