{{ define "main" }}

<main class="container mx-auto py-8">

  <!-- Inhalt der Startseite (_index.md) -->
  <section class="intro mb-8">
    {{ .Content }}
  </section>

  <!-- Projekte Übersicht -->
  <section class="projects-overview">
    <h2>Projekte</h2>
    <ul>
      {{ $projects := site.GetPage "section" "projects" }}
      {{ range $projects.Pages }}
        {{ if not (or .Params.hidden .Params.hiddenInSectionList) }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>


  <!-- Projekte Übersicht -->
  <section class="projects-overview">
    <h2>N&auml;chste Projekte</h2>
    <ul>
      {{ $upcoming := site.GetPage "section" "upcoming" }}
      {{ range $upcoming.Pages }}
        {{ if not (or .Params.hidden .Params.hiddenInSectionList) }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>

</main>

{{ end }}
